/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	/*overflow: hidden;*/
	font-family: sans-serif;
	font-size: 1em;
	background-color : #f8f8f8;
}

.content {

}

#dropper {
	margin: 50px;
	width: 400px;
	height : 300px;
	border : 2px dashed #49c1ff;
	background-color : #eef1f6;
	border-radius: 10px;
	color : #737d8c ;
	text-align: center;
	font-size: 120%;
}

#dropper p {
	margin: 150px 0px;
}

table {
	/*width : 240px;*/
	display: inline-block;
}

td {
	/*max-width: 120px;*/
	padding: 3px;
	border-bottom: 1px solid #888888
}

form {
	margin : 10px 30px;
	display: inline-block;
}

button {
	width : 100px;
	height : 40px;
}